# HTTP
PORT=3333

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/agents"

# Gemini API Key
GEMINI_API_KEY=your_api_key_here

# Gemini Models
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=text-embedding-004